.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts

# Extra file to ignore
vsc-extension-quickstart.md
node_modules/**/test/**
tsconfig.json
.eslintrc